@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table class="table table-dark table-striped">
    <tr>
    <h1 class="text-muted">
     <img src="~/Images/NicePng_ecommerce-png_2475175.png" width="100"></img>
    ECOMMERCE APPLICATION USING BOOTSTRAP
    </h1>
    
</tr>
</table>
  <hr class="mx-auto">
<section id="new" class="w-100">
  <div class="row p-0 m-0">
    <div class="one col-lg-4 col-md-12 col-12 p-0">

      <img class="img-fluid" src="~/Images/Top1.jpg" alt="">
<div class="details">
  <h2>Extreme Rare Sneakers</h2>
  <a asp-area="Books" asp-controller="Products" asp-action="Create" class="btn btn-primary">Shop now</a>
</div>

</div>
<div class="one col-lg-4 col-md-12 col-12 p-0">

  <img class="img-fluid" src="~/Images/top2 .jpg" alt="">
<div class="details">
<h2>Awesome Blank Outfit</h2>
<a asp-area="Books" asp-controller="Products" asp-action="Create" class="btn btn-primary">Shop now</a>
</div>

</div>
<div class="one col-lg-4 col-md-12 col-12 p-0">

  <img class="img-fluid" src="~/Images/top4.jpg" width="280">
<div class="details">
<h2>Fastract Multi view Watch</h2>
<a asp-area="Books" asp-controller="Products" asp-action="Create" class="btn btn-primary">Shop now</a>
</div>

</div>
  </div>
</section>
<section id="featured" class="my-5 py-5">
<div class="container text-center mt-5 py-5">
  <hr class="mx-auto">
  <p>Here you can check out our new products with fair price on E-Commerce</p>
</div>
<div class="row mx-auto container-fluid">

<div class="product text-center col-lg-3 col-md-4 col-12">

<img class="img-fluid mb-3 " src="~/Images/1.jpg" alt="">

<h5 class="p-name"> Sports shoes</h5>
<h4 class="p-price"></h4>
<a asp-area="Books" asp-controller="Products" asp-action="Create" class="btn btn-primary">Shop now</a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">

  <img class="img-fluid mb-3 " src="~/Images/2.jpg"alt="">
 
  <h5 class="p-name"> Sports shoes</h5>
  <h4 class="p-price"></h4>
<a asp-area="Books" asp-controller="Products" asp-action="Create" class="btn btn-primary">Shop now</a>
  </div>

  <div class="product text-center col-lg-3 col-md-4 col-12">

    <img class="img-fluid mb-3 " src="~/Images/3.jpg" alt="">
   
    <h5 class="p-name">Bags</h5>
    <h4 class="p-price"></h4>
  <a asp-area="Books" asp-controller="Products" asp-action="Create" class="btn btn-primary">Shop now</a>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">

      <img class="img-fluid mb-3 " src="~/Images/4.jpg" alt="">
     
      <h5 class="p-name"> Home Decorators</h5>
      <h4 class="p-price"></h4>
     <a asp-area="Books" asp-controller="Products" asp-action="Create" class="btn btn-primary">Shop now</a>
      </div>


</div>
</section>




  
































































@*<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1
      class="text-green text-center font-weight-bold"
      style="font-size: 40px;"
    >
      Form Registration Using java script
    </h1>

    <h4 class="text-blue text-center font-weight-bold" style="font-size: 20px;">
      Login
    </h4>

    <div class="container">
      <br />

      <div class="col-lg-5 m-auto d-block">
        <form action="#" onsubmit="return validation()" class="bg-light">
          <div class="form-group">
            <label for="user" class="font-weight-regular"> FirstName </label>
            <input
              type="text"
              name="user"
              class="form-control"
              id="user"
              autocomplete="off"
            />
            <span id="username" > </span>
          </div>

          <div class="form-group">
            <label class="font-weight-regular">LastName </label>
            <input
              type="password3"
              name="pass"
              class="form-control"
              id="pass"
              autocomplete="off"
            />
            <span id="passwords" >
            </span>
          </div>
          <div class="form-group">
            <label class="font-weight-regular">phone Number </label>
            <input
            type="phonenumber"
            name="phone"
            class="form-control"
            id="phonenumber"
            autocomplete="off"
            pattern="[0-9]*"
            />
            <span id="phoneNumber1"></span>
          </div>
          <div class="form-group">
            <label class="font-weight-regular">password </label>
            <input
            type="password"
            name="password1"
            class="form-control"
            id="password1"
            />
            <span id="password2"></span>
          </div>
          <div class="form-group">
            <label class="font-weight-regular">confirm Password </label>
            <input
            type="password"
            name="confirmpass"
            class="form-control"
            id="confirmpass"
            />
            <span id="confirmpass1"></span>
          </div>
         <center> 

         </center>
       
         
        </form>

        <br /><br />
      </div>
    </div>

    <script type="text/javascript">
      function validation() {
        var user = document.getElementById("user").value;
        var pass = document.getElementById("pass").value;
        var phone=document.getElementById("phonenumber").value;
        var password1=document.getElementById("password1").value;
        var confrimpass=document.getElementById("confirmpass").value;

       

        if (user == "") {
          document.getElementById("username").innerHTML =
            " ** Please fill the username field";
          return false;
        }
        if (user.length <= 2 || user.length > 20) {
          document.getElementById("username").innerHTML =
            " ** FirstName lenght must be between 2 and 20";
          return false;
        }
        if (!isNaN(user)) {
          document.getElementById("username").innerHTML =
            " ** only characters are allowed";
          return false;
        }

        if (pass == "") {
          document.getElementById("passwords").innerHTML =
            " ** Please fill the LastName field";
          return false;
        }
        if (!isNaN(pass)) {
          document.getElementById("passwords").innerHTML =
            " ** only characters are allowed";
          return false;
        }
       
        if(phone=="")
        {
          document.getElementById("phoneNumber1").innerHTML=
          "phonenumber should not be null";
        }
        if (phone.length <= 5 || phone.length >11) {
          document.getElementById("phoneNumber1").innerHTML =
            " ** Phone lenght must  10";
            return false;
         
        }
        if(password1=="")
        {
          document.getElementById("password2").innerHTML=
          "password must be filled";
          return false;
        }
        if(password1.length<=5 || password1.length>10)
        {
          document.getElementById("password2").innerHTML=
          " password should be in between 5 and 10";
          return false;
        }
        if(confrimpass==""){
          document.getElementById("confirmpass1").innerHTML=
          "confirmpassword should not be null";
          return false;
        }
        if (password1 !== confrimpass) {
          document.getElementById("confirmpass1").innerHTML =
            " ** Password does not match the confirm password";
          return false;
        }
      }
    </script>
  </body>
</html>
*@



















































@*<html lang="en">
<head>
    
    <title>Table Decoration Items</title>
    <style>
        body {
          background-image: url('https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
       
        .link1 {
         display: inline-block;
          background: #ff523b;
           color: #fff;
        padding: 20px 20px;
        margin: 20px, 0;
        border-radius: 10px;
        text-decoration: none;
        }
        
        .link2 {
         display: inline-block;
          background: #0000FF;
           color: #fff;
        padding: 20px 20px;
        margin: 20px, 0;
        border-radius: 10px;
        text-decoration: none;
        }
        th, td {
  padding: 10px;}

  ol{
        margin: 0;
        padding: 0;
        list-style: none;
        height: 80px;
        line-height: 80px;
        background-color: rgb(34, 32, 32);
        font-family: Arial, Helvetica, sans-serif;
        
        }
      
        </style>
</head>
<div class="nav">
    <ol>
                <a href=""> <img src="https://homedecorbliss.com/wp-content/uploads/2019/01/gold-home-decor-bliss.png" width="130" height="60"></a></li>
             
    </ol>
    </div>

    <body>
    <center><font size="25" color="black"><b>Home Decoration Items</b</font></center>
        <hr>
        <img src="https://cdn.shopify.com/s/files/1/2690/0106/products/NSA8new137_900x.jpg?v=1612507247" height="500" width= 100%></center>
        <center>
            <table width="70%" cellspacing="4" cellpadding="4">
                <tr>
                    <td>
                        <center><img src="https://canary.contestimg.wish.com/api/webimage/5f0820ce0d1a76291ddd7536-large.jpg?cache_buster=0e8e931a211a24872b520fbdf377368b" height="280" width="280"></center><br>
                        <font  size="4" color="black">Modern Human Meditators Abstract Lady Face Character Resin Statues Sculpture <br>
                            Brand: PARADIGM PICTURES</font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 4,999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
        
                
                
                    <td>
                        <center><img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcT1E2qIaDndWuJVso5qmm_mEhRP6bZPpmwJoK-uvOBz2SOS0SegDXnL2icW7T7BGZbKnMmzFfhyL_69uEM5pXpBKJN1tWRt0A&usqp=CAY" height="280" width="280"></center><br>
                        <font  size="4" color="black">Modern Feather Wooden Decorations Table Fairy Garden Miniature Figurines<br>
                         Brand: Amazeus</font><br>
                       <center> <font size="4" color="black">	M.R.P.:	₹ 1999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp<a href="" class="link2">Add to Cart</a><br>    
                        
                    </td>
        
        
                    <td>
                        <center><img src="https://images-na.ssl-images-amazon.com/images/I/51c7190dgPL.jpg" height="280" width="280"></center><br>
                        <font  size="4" color="black">RV Art Rajasthani Handcrafted Royal Look Wooden and Iron Cycle<br>
                          Brand: Generic</font><br>
                       <center> <font size="4" color="black">	M.R.P.:	₹ 1999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp<a href="" class="link2">Add to Cart</a><br>    
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><img src="https://images-na.ssl-images-amazon.com/images/I/41niKfQao3L.jpg "  height="280" width="280">

                        <font  size="4" color="black">Grey Iron Trumpet Abstract Table Decor Figurine
                           <br>
                          Brand:  Vedas</font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 1899.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
        
                    <td>
                        <center><img src="https://images-na.ssl-images-amazon.com/images/I/81C5DN1AO9L._SX679_.jpg"  height="280" width="280">
                        <font  size="4" color="black">CASADECOR Metal Table Artifact Showpiece (Silver)<br>
                            Brand:CASADECOR </font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 1999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
        
                    <td>
                        <center><img src="https://cdn.shopify.com/s/files/1/0258/3638/8445/products/dekorcompany4763.jpg?v=1614485865" height="280" width="280"></center><br>
                        <font  size="4" color="black">The Lotus Yogi Table Decoration Showpiece<br>
                           
        Brand: Itmumbai</font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 2999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
                </tr>
                <tr>
                    </td>
                </tr>
                <tr>
                   
                </tr>
                <tr>                             
                    </td>
                </tr>
            </table>
            <hr>
        </center>

</body>
</html>*@