@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html lang="en">
<head>
    
    <title>Table Decoration Items</title>
    <style>
        body {
          background-image: url('https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
       
        .link1 {
         display: inline-block;
          background: #ff523b;
           color: #fff;
        padding: 20px 20px;
        margin: 20px, 0;
        border-radius: 10px;
        text-decoration: none;
        }
        
        .link2 {
         display: inline-block;
          background: #0000FF;
           color: #fff;
        padding: 20px 20px;
        margin: 20px, 0;
        border-radius: 10px;
        text-decoration: none;
        }
        th, td {
  padding: 10px;}

  ol{
        margin: 0;
        padding: 0;
        list-style: none;
        height: 80px;
        line-height: 80px;
        background-color: rgb(34, 32, 32);
        font-family: Arial, Helvetica, sans-serif;
        
        }
      
        </style>
</head>
<div class="nav">
    <ol>
                <a href=""> <img src="https://homedecorbliss.com/wp-content/uploads/2019/01/gold-home-decor-bliss.png" width="130" height="60"></a></li>
             
    </ol>
    </div>

    <body>
    <center><font size="25" color="black"><b>Home Decoration Items</b</font></center>
        <hr>
        <img src="https://cdn.shopify.com/s/files/1/2690/0106/products/NSA8new137_900x.jpg?v=1612507247" height="500" width= 100%></center>
        <center>
            <table width="70%" cellspacing="4" cellpadding="4">
                <tr>
                    <td>
                        <center><img src="https://canary.contestimg.wish.com/api/webimage/5f0820ce0d1a76291ddd7536-large.jpg?cache_buster=0e8e931a211a24872b520fbdf377368b" height="280" width="280"></center><br>
                        <font  size="4" color="black">Modern Human Meditators Abstract Lady Face Character Resin Statues Sculpture <br>
                            Brand: PARADIGM PICTURES</font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 4,999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
        
                
                
                    <td>
                        <center><img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcT1E2qIaDndWuJVso5qmm_mEhRP6bZPpmwJoK-uvOBz2SOS0SegDXnL2icW7T7BGZbKnMmzFfhyL_69uEM5pXpBKJN1tWRt0A&usqp=CAY" height="280" width="280"></center><br>
                        <font  size="4" color="black">Modern Feather Wooden Decorations Table Fairy Garden Miniature Figurines<br>
                         Brand: Amazeus</font><br>
                       <center> <font size="4" color="black">	M.R.P.:	₹ 1999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp<a href="" class="link2">Add to Cart</a><br>    
                        
                    </td>
        
        
                    <td>
                        <center><img src="https://images-na.ssl-images-amazon.com/images/I/51c7190dgPL.jpg" height="280" width="280"></center><br>
                        <font  size="4" color="black">RV Art Rajasthani Handcrafted Royal Look Wooden and Iron Cycle<br>
                          Brand: Generic</font><br>
                       <center> <font size="4" color="black">	M.R.P.:	₹ 1999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp<a href="" class="link2">Add to Cart</a><br>    
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><img src="https://images-na.ssl-images-amazon.com/images/I/41niKfQao3L.jpg "  height="280" width="280">

                        <font  size="4" color="black">Grey Iron Trumpet Abstract Table Decor Figurine
                           <br>
                          Brand:  Vedas</font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 1899.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
        
                    <td>
                        <center><img src="https://images-na.ssl-images-amazon.com/images/I/81C5DN1AO9L._SX679_.jpg"  height="280" width="280">
                        <font  size="4" color="black">CASADECOR Metal Table Artifact Showpiece (Silver)<br>
                            Brand:CASADECOR </font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 1999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
        
                    <td>
                        <center><img src="https://cdn.shopify.com/s/files/1/0258/3638/8445/products/dekorcompany4763.jpg?v=1614485865" height="280" width="280"></center><br>
                        <font  size="4" color="black">The Lotus Yogi Table Decoration Showpiece<br>
                           
        Brand: Itmumbai</font><br>
                            <center> <font size="4" color="black">M.R.P.:	₹ 2999.00</font><br></center>
                        <a href=""class="link1">Buy Now</a>&nbsp
                        <a href="" class="link2">Add to Cart</a><br>
                                
                    </td>
                </tr>
                <tr>
                    </td>
                </tr>
                <tr>
                   
                </tr>
                <tr>                             
                    </td>
                </tr>
            </table>
            <hr>
        </center>

</body>
</html>